In [1]:
# Step 1: Load the data 
import pandas as pd
data_frame = pd.read_csv('D:\DA Course Material\DAB 103 Python etc\Project 1 Final Files\survey_results_public.csv',
                         low_memory=False)
data_frame.head()

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [3]:
#Step 2: Select the required columns
filtered_data_1 = pd.read_csv('D:\DA Course Material\DAB 103 Python etc\Project 1 Final Files\survey_results_public.csv',
                              low_memory=False,usecols=['Country','FormalEducation','CompanySize','DevType',
                                                        'JobSatisfaction','LastNewJob','ConvertedSalary'])
filtered_data_1.head(8)

,Country,FormalEducation,CompanySize,DevType,JobSatisfaction,LastNewJob,ConvertedSalary
0,Kenya,"Bachelor’s degree (BA, BS, B.Eng., etc.)",20 to 99 employees,Full-stack developer,Extremely satisfied,Less than a year ago,NaN
1,United Kingdom,"Bachelor’s degree (BA, BS, B.Eng., etc.)","10,000 or more employees",Database administrator;DevOps specialist;Full-...,Moderately dissatisfied,More than 4 years ago,70841.0
2,United States,Associate degree,20 to 99 employees,Engineering manager;Full-stack developer,Moderately satisfied,Less than a year ago,NaN
3,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)",100 to 499 employees,Full-stack developer,Neither satisfied nor dissatisfied,Less than a year ago,NaN
4,South Africa,Some college/university study without earning ...,"10,000 or more employees",Data or business analyst;Desktop or enterprise...,Slightly satisfied,Between 1 and 2 years ago,21426.0
5,United Kingdom,"Bachelor’s degree (BA, BS, B.Eng., etc.)",10 to 19 employees,Back-end developer;Database administrator;Fron...,Moderately satisfied,Between 2 and 4 years ago,41671.0
6,United States,Some college/university study without earning ...,"10,000 or more employees",Back-end developer;Front-end developer;Full-st...,Slightly satisfied,Less than a year ago,120000.0
7,Nigeria,"Bachelor’s degree (BA, BS, B.Eng., etc.)",10 to 19 employees,Designer;Front-end developer;QA or test developer,Slightly satisfied,Less than a year ago,NaN

In [5]:
#Step 3: Replace Nan values with "Not Answered" as its a survey based data and hence cant take mean value etc.
filtered_data_2=filtered_data_1.fillna("Not Answered")
filtered_data_2

,Country,FormalEducation,CompanySize,DevType,JobSatisfaction,LastNewJob,ConvertedSalary
0,Kenya,"Bachelor’s degree (BA, BS, B.Eng., etc.)",20 to 99 employees,Full-stack developer,Extremely satisfied,Less than a year ago,Not Answered
1,United Kingdom,"Bachelor’s degree (BA, BS, B.Eng., etc.)","10,000 or more employees",Database administrator;DevOps specialist;Full-...,Moderately dissatisfied,More than 4 years ago,70841
2,United States,Associate degree,20 to 99 employees,Engineering manager;Full-stack developer,Moderately satisfied,Less than a year ago,Not Answered
3,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)",100 to 499 employees,Full-stack developer,Neither satisfied nor dissatisfied,Less than a year ago,Not Answered
4,South Africa,Some college/university study without earning ...,"10,000 or more employees",Data or business analyst;Desktop or enterprise...,Slightly satisfied,Between 1 and 2 years ago,21426
...,...,...,...,...,...,...,...
98850,United States,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered
98851,Spain,Not Answered,Not Answered,Back-end developer;Front-end developer,Not Answered,Not Answered,Not Answered
98852,India,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Not Answered,Not Answered,Not Answered,Not Answered,Not Answered
98853,Russian Federation,Some college/university study without earning ...,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered
98854,Cambodia,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered,Not Answered

In [6]:
#Step 4: Rename Columns
final_data=filtered_data_2.rename(columns={'FormalEducation':"Education Completed",'CompanySize':'Size_of_Company',
                                           'DevType':'Technology_used','JobSatisfaction':'Job Satisfaction Rating',
                                           'LastNewJob':'Last Job Start Time','ConvertedSalary':'Salary in USD'})
final_data.head(20)

,Country,Education Completed,Size_of_Company,Technology_used,Job Satisfaction Rating,Last Job Start Time,Salary in USD
0,Kenya,"Bachelor’s degree (BA, BS, B.Eng., etc.)",20 to 99 employees,Full-stack developer,Extremely satisfied,Less than a year ago,Not Answered
1,United Kingdom,"Bachelor’s degree (BA, BS, B.Eng., etc.)","10,000 or more employees",Database administrator;DevOps specialist;Full-...,Moderately dissatisfied,More than 4 years ago,70841
2,United States,Associate degree,20 to 99 employees,Engineering manager;Full-stack developer,Moderately satisfied,Less than a year ago,Not Answered
3,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)",100 to 499 employees,Full-stack developer,Neither satisfied nor dissatisfied,Less than a year ago,Not Answered
4,South Africa,Some college/university study without earning ...,"10,000 or more employees",Data or business analyst;Desktop or enterprise...,Slightly satisfied,Between 1 and 2 years ago,21426
5,United Kingdom,"Bachelor’s degree (BA, BS, B.Eng., etc.)",10 to 19 employees,Back-end developer;Database administrator;Fron...,Moderately satisfied,Between 2 and 4 years ago,41671
6,United States,Some college/university study without earning ...,"10,000 or more employees",Back-end developer;Front-end developer;Full-st...,Slightly satisfied,Less than a year ago,120000
7,Nigeria,"Bachelor’s degree (BA, BS, B.Eng., etc.)",10 to 19 employees,Designer;Front-end developer;QA or test developer,Slightly satisfied,Less than a year ago,Not Answered
8,United States,Some college/university study without earning ...,100 to 499 employees,"Back-end developer;C-suite executive (CEO, CTO...",Moderately satisfied,Between 2 and 4 years ago,250000
9,India,"Bachelor’s degree (BA, BS, B.Eng., etc.)",500 to 999 employees,Designer,Not Answered,Not Answered,Not Answered
10,Spain,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","1,000 to 4,999 employees",Back-end developer;Database administrator;Mobi...,Moderately dissatisfied,Not Answered,Not Answered
11,India,"Bachelor’s degree (BA, BS, B.Eng., etc.)",100 to 499 employees,Back-end developer;Front-end developer;Full-st...,Not Answered,Not Answered,Not Answered
12,Croatia,Some college/university study without earning ...,20 to 99 employees,Back-end developer;Front-end developer,Not Answered,Not Answered,Not Answered
13,India,"Bachelor’s degree (BA, BS, B.Eng., etc.)",20 to 99 employees,Back-end developer;Full-stack developer,Extremely satisfied,Less than a year ago,Not Answered
14,Netherlands,"Secondary school (e.g. American high school, G...",20 to 99 employees,Back-end developer;Front-end developer;Student,Neither satisfied nor dissatisfied,Between 2 and 4 years ago,0
15,Israel,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","5,000 to 9,999 employees",Full-stack developer,Moderately dissatisfied,Between 2 and 4 years ago,Not Answered
16,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)","1,000 to 4,999 employees",Student,Not Answered,Less than a year ago,Not Answered
17,Sweden,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",10 to 19 employees,Back-end developer,Moderately satisfied,Between 1 and 2 years ago,47904
18,India,"Bachelor’s degree (BA, BS, B.Eng., etc.)","10,000 or more employees",Data or business analyst;Data scientist or mac...,Slightly satisfied,Between 1 and 2 years ago,Not Answered
19,Chile,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Fewer than 10 employees,Back-end developer;Front-end developer;Full-st...,Not Answered,Not Answered,Not Answered

In [7]:
#Step 4: Exporting the data in CSV format
final_data.to_excel('D:\DA Course Material\DAB 103 Python etc\Project 1 Final Files\Filtered_Data.xlsx',
                    sheet_name='Filtered Data',index=False)

FileCreateError: [Errno 13] Permission denied: 'D:\\DA Course Material\\DAB 103 Python etc\\Project 1 Final Files\\Filtered_Data.xlsx'